/*estilização universal*/
:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --profile-boder-color: #00FF00;
  }
main {
    margin: 0 auto;
    display:flex;
    padding: 40px;   
    background-color: var(--body-bg-color);                                                                                                                                                                                                                               
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ;
}
div { 
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
ul {
    padding: 0px;
    margin: 0px;
}
li {
    margin: 20px 0px 0px 40px;
}


/*=-=-=-=-=- estilização personalizada - lado esquerdo =-=-=-=--==*/

#left_side { /*border: 1px solid blue;*/
    flex-direction: column;
    align-items: start;
    margin-right: 40px;
    gap: 30px;
}

#left_side > div {
    background-color: var(--bg-cards);
}
#left_side div:hover{
    box-shadow: 0px 0px 10px #00FF00
}

/* =-=-=-=-=-= Estilização - lado direito =-=-=-=-=-=*/

#right_side {
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;

}
/* =-=-=-=-=-= Elementos do lado esquerdo =-=-=-=-=-= */
 
/*=-=-=-=-=-=-= Primeiro bloco - perfil =-=-=-=-=-= */
.profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 348px;
    height: 348px;
    border-radius: 8%;
}
.profile_img {
    margin-left: 20px;
    max-width: 100%;
    max-height: 100%;
    
}

.profile_container img {
    border-radius: 50%;
    border: 2px solid var(--profile-boder-color);
    width: 128px;
    height: 128px;
}
/* =-=-=-=-=-=- Segundo bloco - informações =-=-=-=- */
.info_geral {
    flex-direction: column;
    gap: 20px;
    padding: 30px 40px;
    flex-basis: 10%;
    width: 348px;
    height: auto;
    border-radius: 10%;
}
.info_geral div {
    align-items: center;
}
.info_geral p {
    margin: 0px 20px;
}
.info_geral a {
    margin-left: 20px;
}

/*=-=-=-=-=-=-= Terceiro Bloco =-=-=-=-=-=- */
.tech {
    flex-direction: row;
    align-items: end;
    justify-content: center;
    width: 348px;
    padding: 30px;
    gap: 20px;
    width: 348px;
    height: auto;
    flex-wrap: wrap;
}

.tech h2 ~ div{
    
    justify-content: center;
    font-size: 10px;
    height: 24px;
    padding: 7px;
    border-radius: 30%;
}
.tech h2 {
    margin: 0px;
    justify-self: left;
}
/* =-=-=-=-=-=- QUarto bloco -=-=-=-=-= */
.xp {
    width: 348px;
    height: auto;
    flex-direction: column;
    padding: 30px 20px;
}
/* =-=-=-=-=-=- Educação =-=-=-=-=-=-=-= */
.edu {
    width: 348px;
    height: auto;
    flex-direction: column;
    padding: 30px 20px;
}