/*estilização universal*/

body {
    display:flex;
    padding: 40px;                                                                                                                                                                                                                                   
}
* { display: flex;
    box-sizing: border-box;
    background-color: #22212C;
}

div{
    border: 2px solid aqua;
}

/*=-=-=-=-=- estilização personalizada - lado esquerdo =-=-=-=--==*/

#left_side { /*border: 1px solid blue;*/
    flex-direction: column;
    justify-content: left;
    margin-top: 40px;
    margin-left: 40px;
    margin-block: 30px;
}

/* =-=-=-=-=-= Estilização - lado direito =-=-=-=-=-=*/

#right_side {
    flex-direction: column;
   /* border: 1px solid blue;*/
    margin-top: 40px;
    margin-left: 40px;

}
/* =-=-=-=-=-= Elementos do lado esquerdo =-=-=-=-=-= */
 
/*=-=-=-=-=-=-= Primeiro bloco - perfil =-=-=-=-=-= */
.profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 348px;
    height: 348px;
    border-radius: 10%;
}
.profile_img {
    margin-left: 20px;
    max-width: 100%;
    max-height: 100%;
    
}

.profile_container img {
    border-radius: 60%;
    border: 1px solid greenyellow;
    width: 128px;
    height: 128px;
}
/* =-=-=-=-=-=- Segundo bloco - informações =-=-=-=- */
.info_geral {
    flex-direction: column;
    gap: 20px;
    padding: 30px 40px;
    flex-basis: 10%;
    width: 348px;
    height: auto;
    border-radius: 20%;
}
.info_geral div {
    align-items: center;
}
.info_geral p {
    margin: 0px 20px;
}
.info_geral a {
    margin-left: 20px;
}

/*=-=-=-=-=-=-= Terceiro Bloco =-=-=-=-=-=- */
.tech {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;

    width: 348px;
    height: auto;
}
.tech div {
    border-radius: 30%;
    justify-content: center;
    
    font-size: 10px;
    width: 86px;
    height: 24px;
    padding: 7px;
    flex-wrap: wrap;
}